asgiref==3.7.2
autopep8==2.0.2
cx-Oracle==8.3.0
darkdetect==0.8.0
Django==4.2.5
Pillow==10.0.0
pycodestyle==2.10.0
pytube==15.0.0
sqlparse==0.4.4
tomli==2.0.1
typing_extensions==4.8.0
tzdata==2023.3
